#mainBody{
    text-align: center;
}
#href{
    padding: 20;
    background-color: aqua;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    margin-left: 40vw;
    margin-right: 40vw;
}
a{
    text-decoration: none;
}
body{
    align-content: center;
}